<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wreck.mapper.UserMapper">

    <insert id="addUser" parameterType="user">
        insert into user
        (username, password, permission)
        values
        ('zhangsan','123456',1)
    </insert>

    <!--<delete id="deleteBookById" parameterType="int">-->
        <!--delete from ssmbuild.books where bookID=#{bookId}-->
    <!--</delete>-->

    <!--<update id="updateBook" parameterType="Books">-->
        <!--update ssmbuild.books-->
        <!--set bookName = #{bookName} ,bookCounts=#{bookCounts},detail=#{detail}-->
        <!--where bookID=#{bookID};-->
    <!--</update>-->

    <!--<select id="selectBookById" parameterType="int" resultType="Books">-->
        <!--select * from ssmbuild.books where bookID=#{bookId}-->
    <!--</select>-->

    <!--<select id="selectBooks" resultType="Books">-->
        <!--select * from ssmbuild.books-->
    <!--</select>-->
</mapper>